*{margin:0;padding:0;}

/* Begin Top Navigation */

div#seo-consultants{position:absolute;left:230px;top:34px;width:370px;height:40px;background:transparent;white-space:nowrap;z-index:2;}
div#seo-consultants a{color:#fff;font-weight:bold;text-shadow:#000 -1px 1px 1px;}
div#seo-consultants-globe{position:absolute;left:0;top:0;width:230px;height:110px;background:transparent;white-space:nowrap;z-index:2;}
div#seo-consultants img, div#seo-consultants-globe img{display:block;}

div#topmenu{position:absolute;left:232px;top:72px;font:normal 13px tahoma,arial,helvetica,sans-serif;color:#eee;background:transparent;text-align:center;z-index:4;}
div#topmenu ul{margin:0 10px;padding:0;list-style:none;}
div#topmenu ul li{margin:0;padding:0;list-style:none;display:inline;padding:0;}
div#topmenu ul li a{font:bold 13px tahoma,arial,helvetica,sans-serif;text-decoration:none;margin:0;padding:0;text-shadow:#000 -1px 1px 1px;}
div#topmenu ul li a:link, div#topmenu ul li a:visited{color:#ddd;}
div#topmenu ul li a:focus, div#topmenu ul li a:hover{color:#fff;background:transparent;text-shadow:#000 -1px 1px 1px;}
div#topmenu ul li a:active{color:#fff;background:transparent;text-shadow:#000 -2px 1px 1px;}

div#tile{position:absolute;left:0;top:0;width:100%;height:110px;color:#000;background:#6a8fb5 url(../images/bg.png) repeat-x;z-index:1;}

div#topright{position:absolute;top:0;right:10px;}

/* End Top Navigation */

/* Begin Footer */
div#footer{font:normal 13px/18px tahoma,verdana,helvetica,sans-serif;color:#b3b1c0;text-align:center;margin:120px 0 20px 0;}
div#footer ul{margin:1.2em 0;padding:0;list-style:none;}
div#footer li{margin:0;padding:0;list-style:none;display:inline;}
div#footer li a{margin:0;padding:0;background:#fff;}
div#footer li a:link{color:#369;}
div#footer li a:visited{color:#369;}
div#footer li a:focus{color:#00f;background:#ff9;}
div#footer li a:focus:hover{text-decoration:none;color:#060;}
div#footer li a:hover{color:#060;text-decoration:none;}
div#footer li a:active{color:#000;}
/* End Footer */

/* Begin CSS Menus at Left */
.menuleftads{margin-top:670px;}
/*#menuleft{position:absolute;left:10px;top:120px;width:180px;background:#f8f8f8;z-index:2;text-align:left;}*/
#menuleft{position:absolute;left:10px;top:120px;width:180px;background:#202020;z-index:2;text-align:left;}
#menuleft span{font:normal 14px/28px tahoma,arial,helvetica,sans-serif;}
#menuleft li{margin:0;padding:0;list-style-type:none;}
#menuleft li a{display:block;font:normal 14px/28px tahoma,arial,helvetica,sans-serif;width:180px;text-decoration:none;background:#edeef6 url(../images/tile-silver.jpg) repeat-x;padding:0 0 0 5px;}
#menuleft li a{color:#494c59;width:170px;border-right:5px solid #090;text-shadow:#fff -1px 1px 1px;}
#menuleft li a:visited{color:#494c59;width:170px;border-right:5px solid #090;}
#menuleft li a:focus{color:#00f;background:#ff9;}
#menuleft li a:focus:hover{text-decoration:none;color:#060;}
#menuleft li a:hover{color:#060;background:#edeef6 url(../images/tile-blue.jpg) repeat-x;}
#menuleft li a:active{color:#000;background:#edeef6 url(../images/tile-blue.jpg) repeat-x;}
#menuleft form{margin:0;}
#menuleft h2, #menuleft h3{font:bold 13px/28px tahoma,sans-serif;text-transform:uppercase;text-shadow:#000 -1px 1px 1px;white-space:nowrap;color:#edeef6;background:#369 url(../images/tile-heading.jpg) repeat;margin:0;padding:0 0 0 5px;width:175px;}
#menuleft h2 span, #menuleft h3 span{font:bold 13px/28px tahoma,sans-serif;text-shadow:#000 -1px 1px 1px;}
#menuleft ul, #menuleft ul ul, #menuleft ul ul ul{margin:0;padding:0;list-style-image:none;}

/* Begin CSS Popout Menus at Left */
#menuleft ul li{position:relative;}
#menuleft li ul{position:absolute;left:180px;top:0;display:none;padding:0;}

/* Fix IE. Hide from IE Mac \*/
* html #menuleft ul li{float:left;height:1%;}
* html #menuleft ul li a{height:1%;}
/* End */

div#menuleft ul li:hover ul{display:block;}
div#menuleft ul li:hover ul ul, div#menuleft ul li:hover ul ul ul {display:none;}
div#menuleft ul ul, div#menuleft ul ul ul{display:none;}
div#menuleft ul ul li:hover ul, div#menuleft ul ul ul li:hover ul{display:block;width:auto;}

#menuleft li a.x:link, #menuleft li a.x:visited{color:#494c59;background:#edeef6 url(../images/tile-silver.jpg) repeat-x;width:170px;border-right:5px solid #369;}
#menuleft li a.x:focus{color:#00f;background:#ff9;}
#menuleft li a.x:focus:hover{text-decoration:none;color:#060;}
#menuleft li a.x:hover{color:#060;background:#edeef6 url(../images/tile-blue.jpg) repeat-x;}
#menuleft li a.x:active{color:#000;background:#edeef6 url(../images/tile-blue.jpg) repeat-x;}
/* End CSS Popout Menus at Left */
/* End CSS Menus at Left */

/* Website Validation Navigation */
#ValNavAdm{position:absolute;top:98px;right:30px;width:100%;text-align:right;z-index:110;font-size:80%;}

div#body{position:relative;top:0;left:0;margin:120px 200px 10px 200px;padding:20px 20px 0 20px;width:auto;background:#fff;z-index:1;font-size:90%;max-width:870px;border:1px solid #7295b8;}
div#body1{position:relative;top:0;left:0;margin:120px 10px 10px 200px;padding:20px 20px 0 20px;background:#fff;z-index:1;font-size:90%;max-width:870px;border:1px solid #7295b8;}
div#body2{position:relative;top:116px;left:199px;width:475px;background:#fff;z-index:1;}
div#body3{position:relative;top:0;left:0;margin:120px 10px 10px 10px;padding:20px 20px 0 20px;background:#fff;z-index:1;font-size:90%;}

div.left{position:absolute;top:400px;left:0;width:148px;}

div.right{position:absolute;top:116px;right:5px;width:182px;background:#edeef6;border-width:1px;border-style:solid;border-color:#ccc #888 #555 #bbb;margin:0;padding:0;text-align:center;}
div.right h2{font:bold 13px/26px tahoma,sans-serif;text-transform:uppercase;text-indent:5px;color:#fff;background:#369 url(/nav/images/tile-h2.gif) repeat-x;margin:0;padding:0;width:180px;border-width:1px;border-style:solid;border-color:#ccc #888 #555 #bbb;}
div.right a{font:11px/14px tahoma,sans-serif;text-decoration:none;}

div.adsense{position:absolute;right:20px;top:116px;width:160px;color:#000;background:#edeef6 url(../images/adsense-background-120x600.gif) repeat-x;border-width:2px;border-style:solid;border-color:#ccc #888 #555 #bbb;text-align:center;}
div.adsense2{width:468px;margin:1.0em auto;text-align:center;background:#fff;border-width:2px;border-style:solid;border-color:#ccc #888 #555 #bbb;}
div.adsense3{width:auto;margin:1.0em auto;padding:.2em .2em 0 .2em;text-align:center;background:#edeef6;border:1px solid #e2e2ec;}
div.adsense4{width:auto;margin:0 auto;padding:3px 0 2px 0;text-align:center;background:#edeef6;border:1px solid #e2e2ec;}

span.as336280{margin:0 0 .2em 1.0em;}
span.as336280r{float:right;margin:0 0 .2em 2.0em;}
span.as120240{float:right;margin:0 0 .2em 1.0em;}
span.as120240l{float:left;margin:0 1.0em .2em 0;}
span.as125125{float:right;margin:0 0 .2em 1.0em;}
span.as125125l{float:left;margin:0 1.0em .2em 0;}
span.as300250{float:right;margin:0 0 .2em 1.0em;}
span.as300250l{float:left;margin:0 1.0em .2em 0;}
span.as160600{float:right;margin:0 0 .2em 1.0em;}

.ads {margin-bottom: 30px; float: left;}
.float-l {float: left; display: inline-block;}
.offset {margin-left: 100px; float: left; display: inline-block;}
.adsense-right {top: 270px; position: absolute; left: 930px;}
.offset-top {margin-top: 20px;}
.offset-left {margin-left: 20px; float: left;}
.adsense-aside {float: right;margin:30px;}
.adsense-aside span.as160600 {float: none;}
.adsense-aside .offset-top {float: right; margin-right: 90px; margin-top: 50px; clear: left;}

div.back{float:right;font-size:70%;}
div.back a{text-transform:uppercase;text-decoration:none;}

div.donate{margin:0;padding:5px 0;text-align:center;background:#edeef6;border-width:1px;border-style:solid;border-color:#ccc #888 #555 #bbb;}

#menuleft div.navleftmember{width:180px;font:12px/16px tahoma,sans-serif;text-align:center;color:#000;background:#f8f8f8;}
#menuleft div.navleftmember ul{list-style-image:none;margin:.8em .8em 1.0em .8em;padding:0;text-align:left;width:180px;}
#menuleft div.navleftmember li{list-style-type:none;margin:0;padding:0;}
#menuleft div.navleftmember div{margin:.8em 0 .9em 0;}
#menuleft div.navleftmember a{text-decoration:none;border:none;}

div.global{position:absolute;top:0;right:0;z-index:8;}
.ilnav{font:normal 12px arial,sans-serif;}
.ilnav a:link{font:bold 11px/12px arial,sans-serif;padding:0 2px;margin:0;color:#494c59;background:#edeef6 url(/nav/images/tile-silver-3.gif) repeat-x;text-decoration:none;border-width:1px;border-style:solid;border-color:#ccc #888 #555 #bbb;display:inline;white-space:nowrap;}
.ilnav a:visited{font:bold 11px/12px arial,sans-serif;padding:0 2px;margin:0;color:#494c59;background:#edeef6 url(/nav/images/tile-silver-3.gif) repeat-x;text-decoration:none;border-width:1px;border-style:solid;border-color:#ccc #888 #555 #bbb;display:inline;white-space:nowrap;}
.ilnav a:focus{color:#00f;background:#ff9;}
.ilnav a:focus:hover{text-decoration:none;color:#060;}
.ilnav a:hover{color:#060;background:#e2e2ec url(/nav/images/tile-blue-over-3.gif) repeat-x;}
.ilnav a:active{color:#000;background:#e2e2ec url(/nav/images/tile-blue-on-3.gif) repeat-x;}

#TweetLove{position:absolute;top:.1em;right:.2em;margin:0;padding:0;z-index:100;font-size:80%;}

a:link{color:#369;}
a:visited{color:#5a5e68;}
a:focus{color:#00f;background:#ff9;}
a:focus:hover{text-decoration:none;color:#060;}
a:hover{text-decoration:none;color:#060;}
a:active{text-decoration:none;color:#369;background:#edeef6;}

a.apr:link{color:#060;}
a.apr:visited{color:#060;}
a.apr:focus{color:#00f;background:#ff9;}
a.apr:focus:hover{text-decoration:none;color:#060;}
a.apr:hover{text-decoration:none;color:#369;}
a.apr:active{text-decoration:none;color:#000;background:#edeef6;}

a.anu:link{text-decoration:none;}
a.anu:visited{text-decoration:none;}

abbr, acronym{cursor:help;border-bottom:1px dotted #f00;}

address{margin:1.2em .6em;font-style:normal;}

big{font-size:125%;}

blockquote{color:#5a5e68;margin:1.2em 0;}
blockquote p:before{content:"\201c";}
blockquote p:after{content:"\201d";}
blockquote li:before{content:"\201c";}
blockquote li:after{content:"\201d";}

/*body{margin:0;padding:0;color:#000;background:#88a6c3;font:normal 100%/130% verdana,tahoma,helvetica,sans-serif;}*/
body{margin:0;padding:0;color:#848484;background:#202020;font:normal 100%/130% verdana,tahoma,helvetica,sans-serif;}

cite{color:#369;font-style:normal;}

code, pre, samp, tt{color:#369;font:110% "courier new",consolas,"lucida console","dejavu sans mono",monospaced;}

dfn{font-weight:bold;font-style:normal;}

dl{margin:1.2em .6em;}
dt{margin:.5em 1.2em 0 1.2em;font-weight:bold;color:#369;}
dd{margin:.2em 2.0em 1.2em 2.0em;}
dd p{margin:1.2em;}

div.form{position:relative;text-align:center;}
form{display:inline;margin:1.2em 0;}

/* Fonts */

/* Georgia - Serif */
div#Georgia div{font-family:georgia,serif;font-size:120%;line-height:130%;}
div#Georgia h2{font-family:georgia,serif;font-size:150%;}
.Consolas{font-family:consolas,"andale mono","ocr a extended",monospace;font-size:110%;}
.Courier{font-family:"courier new",consolas,"lucida console","dejavu sans mono",monospaced;}
.Georgia{font-family:georgia,serif;font-size:110%;}

.smallcaps{font-variant:small-caps;}

.fs05, .fs50{font-size:50%;}
.fs10, .fs70{font-size:70%;}
.fs11, .fs75{font-size:75%;}
.fs12, .fs80{font-size:80%;}
.fs13, .fs85{font-size:85%;}
.fs14, .fs90{font-size:90%;}
.fs15, .fs95{font-size:95%;}
.fs16, .fs100{font-size:100%;}

h1{font:bold 125%/125% tahoma,arial,verdana,sans-serif;color:#060;text-align:left;margin:0 0 1.2em 0;border-bottom:1px solid #e2e2ec;padding:0 0 .1em 0;}
h2{font:bold 120%/120% tahoma,arial,verdana,sans-serif;color:#5a5e68;text-align:left;margin:1.2em 0;border-bottom:1px solid #e2e2ec;padding:0 0 .1em 0;}
h3{font:bold 115%/115% tahoma,arial,verdana,sans-serif;color:#369;text-align:left;margin:1.2em 0;}
h4{font:bold 115%/115% tahoma,arial,verdana,sans-serif;color:#888;text-align:left;margin:1.2em 0;}
h5{font:bold 105%/115% tahoma,arial,verdana,sans-serif;color:#aaa;text-align:left;margin:1.2em 0;}
h1, h2, h3, h4, h5{text-shadow:#ccc -1px 1px 1px;}
/* filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=225,strength=2); */

.h{color:#060;}
.h{text-align:left;margin:0 0 1.2em 0;}
.section h{color:#060;text-align:left;margin:0 0 1.2em 0;}
.section section h{color:#060;text-align:left;margin:0 0 1.2em 0;}

ol h2{border:0;padding:0;}

/* Begin Horizontal Rule */
hr{text-align:center;width:100%;height:1px;color:#e2e2ec;border:none;} /* For Internet Explorer */
html>body hr{margin-right:0;width:100%;height:1px;background-color:#e2e2ec;border:none;} /* For Gecko-based browsers */
html>body hr{margin-right:0;width:100%;height:1px;background-color:#e2e2ec;border:0 solid #e2e2ec;} /* For Opera and Gecko-based browsers */
/* End Horizontal Rule */

img{border:none;}
.b1, .bor{border:1px solid #e2e2ec;}
.btb{border-width:1px;border-style:solid;border-color:#ccc #888 #555 #bbb;}
.fl{float:left;}
.fr{float:right;}

.blink{text-decoration:blink;}
.cluehelp, .clueless, .hand, .pointer, .vbutton{cursor:pointer;}
.help{cursor:help;}
.clueless{font-size:11px;font-weight:bold;text-transform:uppercase;text-decoration:underline;color:#369;background:#fff;}
.validation{width:400px;color:#000;background:#edeef6;}
.vbutton{width:112px;}

input{font-size:100%;font-family:verdana,arial,helvetica,sans-serif;padding:.3em;overflow:visible;background:#fff;border:1px solid #e2e2ec;}
input[type="submit"]{padding:.3em .5em;}
input[type="radio"], input[type="checkbox"]{border:0;}
input[type="button"], input[type="reset"], input[type="submit"]{color:#000;background:#edeef6;cursor:pointer;}
input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover{color:#060;background:#fff;cursor:pointer;}
input:focus{color:#000;background:#fff;}
input:focus:hover{text-decoration:none;color:#000;background:#fff;}

kbd{font-family:arial,helvetica,sans-serif;padding:5px 3px;white-space:nowrap;color:#000;background:#eee;border-width:2px 4px 5px 3px;border-style:solid;border-color:#ccc #aaa #888 #bbb;}
.ts{font-size:.8em;font-weight:bold;color:#fff;background:#7587a9;border-top:.1em solid #ccc;border-right:.15em solid #aaa;border-bottom:.15em solid #888;border-left:.1em solid #bbb;padding:0 2px;cursor:help;}

label{cursor:pointer;}

li{margin:1.2em 0;padding:0;}

ol{margin:1.2em 1.5em 1.2em 3.0em;padding:0;}
ol li.m0{margin:0;}

option{padding-left:.3em;padding-right:.3em;}

pre{margin:1.2em 0;}

p{margin:1.2em .6em;}
li p{margin:1.2em 0;}
.top{margin-top:0;}
.rt{text-align:right;}
.bot{margin-bottom:0;}
.lt{text-align:left;}
.ct, .ctr{text-align:center;}
.i15{margin:1.2em;}
.i20{margin:1.2em 30px;}
.i60{margin:1.2em 60px;}
.m0{margin:0;}
.mb10{margin-bottom:.8em;}
.ml5{margin-bottom:.5em;}
.ml10{margin-left:.8em;}
.ml15{margin-left:1.2em;}
.mr10{margin-right:.8em;}
.mr15{margin-right:1.2em;}
.mt5{margin-top:5px;}
.mt10{margin-top:.8em;}
.mt15{margin-top:1.2em;}
.ntop{margin-top:5px;margin-bottom:0;}
.nbot{margin-top:5px;margin-bottom:0;}
.nbot#font-family{border:none;}
.ntop{border-bottom:1px solid #b3b1c0;}
.nw{white-space:nowrap;}
.pad5{padding:5px;}
.pad10{padding:0 .8em;}
.pad15{padding:0 1.0em;}
.pl15{padding-left:1.2em;}

.bb{border-bottom:1px solid #e2e2ec;padding:0 0 1.2em 0;}
.pbb{border-bottom:1px solid #e2e2ec;padding:0 0 1.2em 0;}
.bt{border-top:1px solid #e2e2ec;padding:1.2em 0 0 0;}
.pbt{border-top:1px solid #e2e2ec;padding:1.2em 0 0 0;}

.tac{text-align:center;}
.tal{text-align:left;}
.tar{text-align:right;}
.tdl{text-decoration:line-through;}
.vab{vertical-align:bottom;}
.vabl{vertical-align:baseline;}
.vam{vertical-align:middle;}
.vat{vertical-align:top;}
.vatb{vertical-align:text-bottom;}
.vatt{vertical-align:text-top;}

q{color:#5a5e68;}

select{color:#000;background:#fff;font-size:100%;font-family:verdana,arial,helvetica,sans-serif;padding:.3em;border:1px solid #e2e2ec;}
select:focus{color:#000;background:#fff;}
select:focus:hover{text-decoration:none;color:#000;background:#fff;}

select.menu{font-size:80%;width:180px;color:#000;background:#f8f8f8;border:1px solid #e2e2ec;}
.selectf0{color:#000;background:#edeef6;}
select.results{width:180px;}
input.results2{font-size:13px;width:180px;border:1px solid #e2e2ec;}

small{font-size:75%;line-height:normal;}

.black{color:#000;}
.blackn{font-variant:normal;color:#000;}
.blue, span.blue{color:#369;}
.bluelt{color:#edeef6;}
.bluen{font-variant:normal;color:#369;}
.gray{color:#5a5e68;}
.gray2{color:#777;}
.grayccc{color:#ccc;}
.graylt{color:#eee;}
.green, span.green{color:#060;}
.greenlt{color:#393;}
.high{color:#eee;font-weight:bold;background:#333;}
.red{color:#b00;}
.white{color:#fff;}

.bgbl, .bgede, .bgy{background:#edeef6;}
.bggl{background:#f2fff2;}
.bg369{background:#369;}
.bgccc{background:#ccc;}
.bgddd{background:#ddd;}
.bgeee{background:#eee;}
.bgfff{background:#fff;}

.bgblulig{background:#ecf2ff;}
.bggrelig{background:#f4fff4;}
.bgredlig{background:#ffecec;}
.bgredlig2{background:#fff4f4;}
.bgyellig{background:#ffc;}
.bgyellig2{background:#fffff0;}
.bghead{color:#494c59;background:#edeef6 url(/nav/images/tile-silver-3.gif) repeat-x;}

.ele{font-size:11px;}
.tag{font:80%/150% arial,sans-serif;color:#5a5e68;margin-left:1.0em;}
.tag a{text-decoration:none;}

.tile{color:#000;background:#369 url(/nav/images/tile-h2.gif) repeat-x;}

textarea{color:#000;background:#fff;font-size:100%;font-family:verdana,arial,helvetica,sans-serif;padding:.3em;border:1px solid #e2e2ec;}

ul{margin:1.2em 3.0em;padding:0;list-style-type:disc;}
ul li{list-style-image:none;}
ol ul{margin:1.2em 0 1.2em 2.0em;padding:0;list-style-type:disc;}
ul ul{margin:1.2em 0 1.2em 2.0em;padding:0;list-style-type:disc;}
ol li ul li{margin:1.2em .5em;padding:0;list-style-image:none;}

/* Begin Inline List Styling */
.inline{font:normal 13px/18px tahoma,verdana,helvetica,sans-serif;color:#b3b1c0;text-align:center;}
.inline ul{margin:1.2em 0;padding:0;list-style:none;}
.inline li{margin:0;padding:0;list-style:none;display:inline;}
/* End Inline List Styling */

/* Begin Inline List Styling text-align:left; */
.inlinel{font:normal 80%/160% tahoma,verdana,helvetica,sans-serif;color:#b3b1c0;text-align:left;}
.inlinel ul{margin:0;padding:0;list-style:none;}
.inlinel li{margin:0;padding:0;list-style:none;display:inline;}
/* End Inline List Styling */

table{color:#000;background:#fff;font-size:95%;margin:0 auto;border-collapse:collapse;}
td, th, thead{border:1px solid #e2e2ec;padding:3px;}
th{font-weight:bold;}

td.fs80 {font-size:80%;line-height:inherit;}
.td20{width:20%;text-align:right;}
.td25{width:25%;text-align:right;}
.td30{width:30%;text-align:right;}
.th35{width:35%;text-align:right;}
.td35{width:35%;text-align:right;}
.td40{width:40%;text-align:right;}
.td45{width:45%;}
.td50{width:50%;}
.td60{width:60%;text-align:left;}
.td65{width:65%;text-align:left;}
.td70{width:70%;text-align:left;}
.td75{width:75%;text-align:left;}
.td80{width:80%;text-align:left;}
.td85{width:85%;text-align:left;}
.td90{width:90%;}
.selects{width:100%;}
.w25{width:25%;}
.w33{width:33%;}
.w100{width:100%;}

tr.ef, tr.ff, tr.f0{color:#000;background:#edeef6;}

.bg{color:#edeef6;background:#369 url(../images/tile-heading.jpg) repeat;font:bold 90%/150% tahoma,arial,sans-serif;text-transform:uppercase;text-shadow:#000 -1px 1px 1px;}
.bg b, .bgrid b{color:#edeef6;}
.bgrid{color:#edeef6;background:#369 url(../images/tile-heading2.jpg) repeat;font:bold 90%/150% tahoma,arial,sans-serif;text-transform:uppercase;}

.bg2{color:#edeef6;background:#369 url(../images/tile-heading2.jpg) repeat;font:bold 90%/150% tahoma,arial,sans-serif;text-transform:uppercase;text-shadow:#000 -1px 1px 1px;}

.head, th.head{background:#369 url(../images/tile-heading.jpg) repeat;}
.head b{font:bold 90%/150% tahoma,sans-serif;text-transform:uppercase;color:#edeef6;}

.inputs{width:98%;}

.td100{width:98%;}

.ffa{font-family:arial,sans-serif;}
.ttu{text-transform:uppercase;}
.u{text-decoration:underline;}
.ud{border-bottom:.1em dashed #ccc;padding:0 0 .2em 0;}

/* Begin CSS Button Effect */
.but{font:normal 100%/210% tahoma,sans-serif;color:#000;margin:1.2em 0;}
.but a, .but a:visited{padding:3px 5px 4px 5px;margin:0;color:#5a5e69;background:#edeef6 url(../images/tile-silver.jpg) repeat-x;text-decoration:none;border-top:1px solid #ccc;border-left:1px solid #bbb;border-right:1px solid #888;border-bottom:1px solid #555;display:inline;white-space:nowrap;}
.but a:focus{color:#00f;background:#ff9;}
.but a:focus:hover{text-decoration:none;color:#060;}
.but a:hover{color:#060;background:#e2e2ec url(../images/tile-blue.jpg) repeat-x;}
.but a:active{color:#000;background:#e2e2ec url(../images/tile-blue.jpg) repeat-x;}
.but ul{margin:0;padding:0;list-style-type:none;}
.but ul li{margin:0;padding:0;list-style-image:none;display:inline;}
/* End CSS Button Effect */

/* On Page Link States */
#bacch a#acch,
#bacch a#htmtip,
#bannounce a#announce,
#bapplication a#application,
#bart302 #art302,
#bartchange a#artchange,
#barticles a#articles,
#barticles a#blog,
#bartoveseo a#artoveseo,
#bartseopro a#artseopro,
#bblog a#blog,
#bbooks a#books,
#bbooseo a#booseo,
#bbuttons a#buttons,
#bclu a#clu,
#bclulin a#clulin,
#bclulinenh a#clulinenh,
#bclulinexc a#clulinexc,
#bclumeesta a#clumeesta,
#bclutipmet a#clutipmet,
#bcolcon a#colcon,
#bcomments a#comments,
#bcompression a#compression,
#bconcon a#concon,
#bcountry a#country,
#bcpcses a#cpcses,
#bcrawal a#crawal,
#bcsscolgra a#csscolgra,
#bcsscolrgb a#csscolrgb,
#bcsstexdec a#csstexdec,
#bcsstexeff a#csstexeff,
#bcsstexpre a#csstexpre,
#bcsstextra a#csstextra,
#bcsstip a#csstip,
#bcurrency a#currency,
#bdesign a#design,
#bdetection a#detection,
#bdocseo a#docseo,
#bdir a#dir,
#bdircon a#dircon,
#bdircon a#index,
#bdirind a#dirind,
#bdnsrep a#dnsrep,
#bdomains a#domains,
#bdomainss a#domainss,
#beditors a#editors,
#bemail a#email,
#bemamarcon a#emamarcon,
#berrtra a#errtra,
#berrtra403 a#errtra,
#berrtra403 a#errtra403,
#bfirplainf a#firplainf,
#bfonweb a#fonweb,
#bforums a#blog,
#bforums a#forums,
#bfrodat a#frodat,
#bfrodatexa a#frodatexa,
#bfroforval a#froforval,
#bfrohis a#frohis,
#bfroinc a#froinc,
#bfrokey a#frokey,
#bfroopt a#froopt,
#bfropag a#fropag,
#bfrotip a#frotip,
#bgooval a#gooval,
#bgooval a#valgoo,
#bgraffiti a#graffiti,
#bheaders a#headers,
#bheaders a#headersadv,
#bheaders a#headersbas,
#bheaders a#headersbat,
#bhtmcom a#htmcom,
#bhtmforlab a#htmforlab,
#bhtmforlab a#htmtip,
#bhtmfra a#htmfra,
#bhtmfra a#htmtip,
#bhtml4ele a#html4ele,
#bhtml4ele a#semrichtm,
#bhtml5 a#html5,
#bhtmtip a#htmtip,
#biconico a#iconico,
#biis a#iis,
#bincdec a#incdec,
#bindex a#index,
#bisapi a#isapi,
#bisapi2 a#isapi2,
#bisapi3 a#isapi3,
#bjobs a#jobs,
#bjobtitles a#jobs,
#bjobtitles a#jobtitles,
#bjsn a#jsn,
#bjsn01 a#jsn01,
#bjsn02 a#jsn02,
#bjsn03 a#jsn03,
#bjsn04 a#jsn04,
#bjsn05 a#jsn05,
#bjsn06 a#jsn06,
#bjsn07 a#jsn07,
#bjsn08 a#jsn08,
#bjsn09 a#jsn09,
#bkeyrea a#keyrea,
#blogin a#login,
#bmailto a#mailto,
#bmedads a#medads,
#bmedia a#media,
#bmemtes a#memtes,
#bmet a#met,
#bmetdes a#metdes,
#bmetdub a#metdub,
#bmetkey a#metkey,
#bmetlan a#metlan,
#bmetlin a#metlin,
#bmetmyt a#metmyt,
#bmetrev a#metmyt,
#bmetrev a#metrev,
#bmetrob a#metrob,
#bmettes a#metmyt,
#bmettes a#mettes,
#bmettit a#mettit,
#bmyhtml a#myhtml,
#bmytutor a#mytutor,
#bnatpos a#natpos,
#bnatposcom a#natposcom,
#bnatposjg a#natposjg,
#bnatposjg a#natpossti,
#bnatposjs a#natposjs,
#bnatposjs a#natpossti,
#bnatpossti a#natpossti,
#bnatpostwb a#natpostwb,
#bnda a#nda,
#bnews a#news,
#bnewsopt a#newsopt,
#bnukem a#nukem,
#bpaypal a#paypal,
#bdocseo a#pdfseo,
#bpdfseo a#pdfseo,
#bperpag a#perpag,
#bppc a#ppc,
#bppcses a#ppcses,
#bppcsoft a#ppcsoft,
#bprerel a#prerel,
#bprofile a#profile,
#bprofilehelp a#profilehelp,
#bresources a#blog,
#bresources a#resources,
#bresults a#results,
#brewrite a#rewrite,
#brob a#rob,
#bror a#ror,
#brormag a#rormag,
#bsc403 a#sc403,
#bseacon a#seacon,
#bsehis a#sehis,
#bsemrichtm a#semrichtm,
#bseo a#index,
#bseo a#seo,
#bseo-resources a#seo-resources,
#bseo101 a#seo101,
#bseoblo a#blog,
#bseoblo a#seoblo,
#bseocer a#seocer,
#bseocer2 a#seocer2,
#bseocerrev a#seocerrev,
#bseocerrev a#seocerrev,
#bseogua a#seogua,
#bseogui a#seogui,
#bseopoi a#semrichtm,
#bseopoi a#seopoi,
#bseotip a#seotip,
#bseotra a#seotra,
#bsepartners a#separtners,
#bses a#ses,
#bsesgui a#sesgui,
#bsof a#sof,
#bspf a#spf,
#bsph a#sph,
#bsph5 a#sph5,
#bsphaut a#sphaut,
#bsphava a#sphava,
#bsphbot a#sphbot,
#bsphccc a#sphccc,
#bsphdes a#sphdes,
#bsphexp a#sphexp,
#bsphlat a#sphlat,
#bsphnof a#sphnof,
#bsphpho a#sphpho,
#bsphphr a#sphphr,
#bsphphu a#sphphu,
#bsphsph a#sphsph,
#bsphsun a#sphsun,
#bsphsun2 a#sphsun2,
#bsphter a#sphter,
#bsphtou a#sphtou,
#bsphupc a#sphupc,
#bsphzon a#sphzon,
#bspserver a#spserver,
#bsta a#sta,
#bstacat a#stacat,
#bstacatfee1 a#stacatfee1,
#bstacatfee2 a#stacatfee2,
#bstacatfee3 a#stacatfee3,
#bstafee a#stafee,
#bsubdom a#subdom,
#bsubmit a#submit,
#bsubmitart a#submitart,
#bsubmitg a#submitg,
#bsubmitnet a#metmyt,
#bsubmitnet a#submitnet,
#bsurveys a#surveys,
#bterms a#terms,
#btesting a#testing,
#btext a#text,
#btips a#tips,
#btipsaspnet a#tipsaspnet,
#btoocre a#toocre,
#btoosemext a#toosemext,
#btoosemext a#semrichtm,
#btools a#tools,
#btoosemext a#toosemext,
#btso250 a#tso250,
#btso250 a#tsosuper,
#btsoperma a#tsoperma,
#btsople a#tsople,
#btsople a#tsort,
#btsort a#tsort,
#btsosea a#tsosea,
#btsosea a#twitter,
#btsosuper a#tsosuper,
#btsotitles a#tsotitles,
#btsotweep a#tsotweep,
#btsotweep a#twitra,
#btsotweeprev a#tsotweep,
#btsotweeprev a#tsotweeprev,
#btsotweeprev a#twitra,
#btwi12step a#twi12step,
#btwiava a#twiava,
#btwifol a#twifol,
#btwiblorem a#twifol,
#btwilisblo a#twifol,
#btwiblorem a#twiblorem,
#btwilisblo a#twilisblo,
#btwisig a#twiava,
#btwisig a#twisig,
#btwitos a#twitos,
#btwitra a#twitra,
#btwitter a#twitter,
#btwivid a#twivid,
#buricon a#uricon,
#buricon a#urishorts,
#buris a#uris,
#burisho a#urisho,
#burisho a#urishorts,
#burishorts a#urishorts,
#burl301 a#url301,
#burlsc a#urlsc,
#busa a#usa,
#bvalgoo a#valgoo,
#bvalgoo a#semrichtm,
#bvalres a#valres,
#bw3cdat a#w3cdat,
#bw3cdoc a#w3cdoc,
#bwdgval a#wdgval,
#bwebana a#webana,
#bwebval a#webval,
#bwebval a#semrichtm,
#bwebvalcha a#webvalcha,
#bwebvalcha2 a#webvalcha,
#bwebvalcha2 a#webvalcha2,
#bwebvalsho a#webvalsho,
#bwebvalsho a#semrichtm,
#bwebvaltra a#semrichtm,
#bwebvaltra a#webvaltra,
#bwebxact a#webxact,
#bwhois a#whois,
#bwinhos a#winhos,
#bwinico a#winico,
#bwinieacc a#winieacc,
#bwinisa301 a#winisa301,
#bwinisarul a#winisarul,
#bwinkbi a#winkbi,
#bwinkey a#winkey,
#bwinkeysho a#winkeysho,
#bwinpri a#winpri,
#bwinpripsd a#winpripsd,
#bwinpsa a#winpsa,
#bwinser a#winser,
#bwinsercacrig a#winser,
#bwinsercacrig a#winsercacrig,
#bwinsercuserr a#winser,
#bwinsercuserr a#winsercuserr,
#bwinserhttzip a#winser,
#bwinserhttzip a#winserhttzip,
#bwinserlinden a#winser,
#bwinserlinden a#winserlinden,
#bwinserpagexc a#winser,
#bwinserpagexc a#winserpagexc,
#bwinserserdef a#winser,
#bwinserserdef a#winserserdef,
#bwinsersermas a#winser,
#bwinsersermas a#winsersermas,
#bwinserurlspe a#winser,
#bwinserurlspe a#winserurlspe,
#bwinserzipena a#winser,
#bwinserzipena a#winserzipena,
#bwintip a#wintip,
#bwintipkey a#wintipkey,
#bwintips a#wintips,
#bwm a#wm,
#bzazpro a#zazpro,
#bzazsta a#zazsta
{color:#060;width:170px;border-right:5px solid #c90;background:#edeef6 url(../images/tile-blue.jpg) repeat-x;}

div#featured a{color:#5a5e69;background:#edeef6;text-align:center;margin:0;padding:0;}
div#featured img{display:block;}
div#featured ul{margin:0;padding:0;}
div#featured ul li{margin:1px 0;padding:0;}

/* Get To The Top */
div#featured .con1264 a{width:180px;height:36px;border-right:none;}
div#featured .con1264 a:hover{color:#fff;background:#000;}

/* Receptional Limited */
div#featured .con1354 a{width:180px;height:36px;border-right:none;}
div#featured .con1354 a:hover{color:#fff;background:#179a7d;}

/* Zepphoria */
div#featured .con1366 a{width:180px;height:36px;border-right:none;}
div#featured .con1366 a:hover{color:#fff;background:#7fc831;}

/* Bay Street SEO */
div#featured .con1383 a{width:180px;height:36px;border-right:none;}
div#featured .con1383 a:hover{color:#fff;background:#39526b;}

/* Guava */
div#featured .con2084 a{width:180px;height:36px;border-right:none;}
div#featured .con2084 a:hover{color:#fff;background:#85d631;}

/* Hochman Consultants */
div#featured .con2598 a{width:180px;height:36px;border-right:none;}
div#featured .con2598 a:hover{color:#fff;background:#bbbebf;}

/* Sugarrae */
div#featured .con2691 a{width:180px;height:36px;border-right:none;}
div#featured .con2691 a:hover{color:#fff;background:#a8a9ae;}

/* Reciprocal Consulting */
div#featured .con2740 a{width:180px;height:36px;border-right:none;}
div#featured .con2740 a:hover{color:#fff;background:#00537b;}

/* TMA E-Marketing */
div#featured .con2766 a{width:180px;height:36px;border-right:none;}
div#featured .con2766 a:hover{color:#fff;background:#282828;}

/* Hobo-Web */
div#featured .con2792 a{width:180px;height:36px;border-right:none;}
div#featured .con2792 a:hover{color:#fff;background:#bebda7;}

/* Creative Daylight */
div#featured .con2816 a{width:180px;height:36px;border-right:none;}
div#featured .con2816 a:hover{color:#fff;background:#39f;}

/* ConstantClick */
div#featured .con2829 a{width:180px;height:36px;border-right:none;}
div#featured .con2829 a:hover{color:#fff;background:#2d67b2;}

/* Sidebar Quote Form */
.sideformbg1 { background-color:#88a6c3; padding-top:20px; }
.sideformbg2 { 	border:#cc9900 2px solid;background:#edeef6; }
.sideformheaderbg {	background-color:#cc9900;font:bold 13px/28px tahoma,sans-serif;text-transform:uppercase;text-shadow:#000 -1px 1px 1px;white-space:nowrap;color:#edeef6; repeat;margin:0;padding:0 0 0 5px;width:173px; }
.sideforminput { width:159px;margin:4px 4px 0px 4px;font-size:10px; }
.sideforminput2 { width:167px;margin:4px 4px 0px 4px; font-size:10px; }
.sideformbutton { margin:4px 4px 2px 4px;padding:0px;border:0px }

/* Currency Converter */
.currency-converter {float: left; width: 100%;}
.currency-converter table.bgede {table-layout: fixed; margin: 0; width: 515px; float: left;}
.currency-converter table.bgede select {font-size: 80%; width: 240px;}
.fix {float: left; width: 100%;}