.App {
  text-align: inherit;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 0px;
  background-color: #222;
  height: 150px;
  color: white;
  text-align: center;
}

.App-body {
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  margin: 1.2em 0 1.2em 2em;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

/* Sticky Header Begin: https://www.w3schools.com/howto/howto_css_fixed_menu.asp */

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

/* Sticky Header End: https://www.w3schools.com/howto/howto_css_fixed_menu.asp */

/* Redux/Animation */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#container,
.container-inner {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

.main-content {
  height: 100%;
  background-color: #43b02a;
}

.absolute-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.logo-wrapper {
  width: 256px;
  height: 256px;
}

.logo {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 1;
  will-change: opacity;
  background-image: url(https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/386/landscape/redux.png);
}
